
<%= simple_form_for(@crypto) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    
    <%= f.input :name %>
    <%= f.input :quantity %>
    <%= f.input :date %>
    <%= f.input :value %>
    <%= f.input :cost %>
<br>
     <div class="form-actions btn btn-warning">
    <%= f.button :submit %>
    </div>
    
  </div>
<% end %>
