<table class="table table-striped table-dark text-center">
  <thead>
    <tr>
      <th>Devise</th>
      <th>Nom</th>
      <th>Quantité</th>
      <th>Date</th>
      <th>Valeur unitaire</th>
      <th>Coût</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
<h1 class="text-center text-light bg-dark">Mes Crypto-monnaies</h1>
  <br>
    <% @cryptos.each do |crypto| %>
      <tr>
        <td><%= crypto.abbreviation %></td>
        <td><%= crypto.name %></td>
        <td><%= crypto.quantity %></td>
        <td><%= crypto.date %></td>
        <td><%= crypto.value %>€</td>
        <td><%= crypto.cost %>€</td>
        <td><%= link_to 'Éditer', edit_crypto_path(crypto), class:"btn btn-warning" %></td>
        <td><%= link_to 'Supprimer', crypto, method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette crypto ?' }, class:"btn btn-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="position-relative text-center">
<%= link_to 'Ajouter une crypto-monnaie', new_crypto_path, class:"btn btn-warning" %>
</div>

<br>

