<ul class="list-group list-group-flush text-center">
<li class="list-group-item">
  <strong>Devise:</strong>
  <%= @crypto.abbreviation %>
</li>
<br>
<li class="list-group-item">
  <strong>Nom:</strong>
  <%= @crypto.name %>
</li>
<br>
<li class="list-group-item">
  <strong>Quantitée:</strong>
  <%= @crypto.quantity %>
</li>
<br>
<li class="list-group-item">
  <strong>Date:</strong>
  <%= @crypto.date %>
</li>
<br>
<li class="list-group-item">
  <strong>Valeur unitaire:</strong>
  <%= @crypto.value %>
</li>
<br>
<li class="list-group-item">
  <strong>Coût:</strong>
  <%= @crypto.cost %>
</li>
</ul>

<br>
<%= link_to 'Éditer', edit_crypto_path(@crypto), class:"btn btn-warning" %>
<%= link_to 'Retour', cryptos_path, class:"btn btn-warning" %>
